html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background: #192030;
}



main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../images/background-landing.svg');
    background-size: cover;
    
}

#container {
    height: 70%;
    width: 70%;
    z-index: 3;
}

#marca {
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    height: 60vh;
}

h1 {
    display: inline-block;
    font: 5rem Viga;
    color: #67aeff;
    margin: 0;
}

.barra {
    background: #67aeff;
    border-radius: 50rem;
    height: 0.6rem;
    width: 100px;
    margin-bottom: 0.3rem;
    display: inline-block;
}

#buttons {
    text-align: center; 
}
  
a {
    padding: 1rem 0;
    color: #67aeff;
    width: 30%;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 8rem;
    font: 1.7rem Viga;
    border: 5px solid #67aeff;
    display: inline-block;
}

a:hover {
    transition: 200ms;
    background: #67aeff;
    color: #192030;
    border-color: transparent;
}

@media (max-width: 1000px) {
    main {
        
    }

    #marca {
        text-align: center;
        display: block;
    }
    
    h1 {
        display: block;
    }

    img {
        height: 30vh;
    }

    :root {
        font-size: 0.5rem;
    }

    a {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 4em;
    }

    img {
        height: 25vh;
    }
}